<h1>MATA Demo Server</h1>

<p>Registered Users: {{ usernames }}</p>

<p>Current User: {{ current_user }}<br />
<small style='color:#777'>To deauthorize, try enter an URL like <a href="{{ deauthorzie_url }}">{{ deauthorzie_url }}</a></small>
</p>

<p>API Test</p>
<ul>
<li><a href="/v1/application_list"  >/v1/application_list   </a></li>
<li><a href="{{ agg_url }}">{{ agg_url }}</a></li>
<li><a href="{{ install_url }}">{{ install_url }}</a></li>
</ul>

<a href="http://openmata.org/">MATA APIs (DRAFT) : (stay tuned)</a>
